.home {
  padding-top: 0px;
}

.section {
  margin-bottom: 28px;
}

.sectionTitle {
  font-size: 24px;
  margin-bottom: 16px;
}

.divider {
  height: 1px;
  background: #dadada;
  margin-bottom: 28px;
}

.listWrapper {
  margin-bottom: 8px; // после карточек перед следующей секцией
}

// Нижний отступ архива
.section:last-child .listWrapper {
  margin-bottom: 198px; // как в макете
}

// Мобильные отступы
@media (max-width: 768px) {
  .home {
    padding-top: 23px;
  }
  .section {
    margin-bottom: 32px;
  }
  .divider {
    margin-bottom: 32px;
  }
  .listWrapper {
    margin-bottom: 32px;
  }
}
