.home {
  padding-top: 0px;
}

.section {
  margin-bottom: 38px;
}

.sectionTitle {
  font-size: 24px;
  margin-bottom: 14px;
}

.divider {
  height: 1px;
  background: #dadada;
  margin-bottom: 26px;
}

.listWrapper {
  margin-bottom: 8px;
}

.section:last-child .listWrapper {
  margin-bottom: 198px;
}

@media (max-width: 768px) {
  .home {
    padding-top: 31px;
  }
  .section {
    margin-bottom: 32px;
  }
  .divider {
    margin-bottom: 15px;
  }
  .listWrapper {
    margin-bottom: 32px;
  }
  .container {
    padding: 0 16px;
  }
}
