@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

:root {
  --color-bg: #fdfdfd;
  --color-bg-secondary: #f4f4f4;
  --color-border: #dadada;
  --color-text-light: #9c9c9c;
  --color-text: #595959;
  --color-text-dark: #161616;
  --color-accent: #22a0bc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--color-bg-secondary);
  color: var(--color-text);
  line-height: 1.5;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1192px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}
