.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(22, 22, 22, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: #fdfdfd;
  border-radius: 16px;
  padding: 40px;
  width: 310px;
  height: 211px;
  text-align: center;
  position: relative;

  @media (max-width: 768px) {
    width: 271px;
    padding: 32px;
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #9c9c9c;
  transition: color 0.2s;

  &:hover {
    color: #161616;
  }
}

.icon {
  width: 59px;
  height: 59px;
  margin-bottom: 12px;
  margin-top: 10px;
}

.message {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #595959;
  padding-top: 20px;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}
